#particles-js{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-image: url('http://dev.idiomatic.fr/sites/default/files/lampe.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js-2{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-image: url('http://dev.idiomatic.fr/sites/default/files/sur-mesure.jpeg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js-3{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-image: url('http://dev.idiomatic.fr/sites/default/files/l-agence-tout-risques.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* dsm(file_create_url('public://lampe.jpg')); */
